<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<h1 style="color:#381c76">Поиск слов по заполненным анкетам</h1>
<body style="font-family:Arial;">
<p>Выбрав слово из списка Сводеша, вы можете увидеть </br>
    все его значения на различных языках, введенные </br> пользователями при заполнении анкет</p>


<form>
    <h2 style="color:#381c76">Выберите слово:</h2>
    <p><select name="searchword">
    <option value="0">{{ sw0 }}</option>
    <option value="1">{{ sw1 }}</option>
    <option value="2">{{ sw2 }}</option>
    <option value="3">{{ sw3 }}</option>
    <option value="4">{{ sw4 }}</option>
    <option value="5">{{ sw5 }}</option>
    <option value="6">{{ sw6 }}</option>
    <option value="7">{{ sw7 }}</option>
    <option value="8">{{ sw8 }}</option>
    <option value="9">{{ sw9 }}</option>
    <option value="10">{{ sw10 }}</option>
    <option value="11">{{ sw11 }}</option>
    <option value="12">{{ sw12 }}</option>
    <option value="13">{{ sw13 }}</option>
    <option value="14">{{ sw14 }}</option>
    <option value="15">{{ sw15 }}</option>
    <option value="16">{{ sw16 }}</option>
    <option value="17">{{ sw17 }}</option>
    <option value="18">{{ sw18 }}</option>
    <option value="19">{{ sw19 }}</option>
    </select></p>
    <input type="submit" value="Искать">
</form>
</body>
</html>