<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Анкета</title>
</head>
<body style="font-family:Arial;">
<h1 style="color:#381c76">Список Сводеша</h1>
<p>Пожалуйста, помогите составить словарь списка Сводеша для Вашего родного языка.</p>
<p>Для этого, заполните данную анкету. В каждом поле необходимо вписать перевод русского слова на Ваш язык</p>
<p>Заранее благодарим!</p>
<form>
    <p>Как к Вам обращаться?</p>
    <input type="text" name="name" size="20" /> Ваше имя<br>
    <p>Ваш родной язык?</p>
    <input type="text" name="language" size="20" /> Язык<br>
    <p>Собственно словарь</p>
    <input type="text" name="wrd0" size="20" /> {{ sw0 }}<br>
    <input type="text" name="wrd1" size="20" /> {{ sw1 }}<br>
    <input type="text" name="wrd2" size="20" /> {{ sw2 }}<br>
    <input type="text" name="wrd3" size="20" /> {{ sw3 }}<br>
    <input type="text" name="wrd4" size="20" /> {{ sw4 }}<br>
    <input type="text" name="wrd5" size="20" /> {{ sw5 }}<br>
    <input type="text" name="wrd6" size="20" /> {{ sw6 }}<br>
    <input type="text" name="wrd7" size="20" /> {{ sw7 }}<br>
    <input type="text" name="wrd8" size="20" /> {{ sw8 }}<br>
    <input type="text" name="wrd9" size="20" /> {{ sw9 }}<br>
    <input type="text" name="wrd10" size="20" /> {{ sw10 }}<br>
    <input type="text" name="wrd11" size="20" /> {{ sw11 }}<br>
    <input type="text" name="wrd12" size="20" /> {{ sw12 }}<br>
    <input type="text" name="wrd13" size="20" /> {{ sw13 }}<br>
    <input type="text" name="wrd14" size="20" /> {{ sw14 }}<br>
    <input type="text" name="wrd15" size="20" /> {{ sw15 }}<br>
    <input type="text" name="wrd16" size="20" /> {{ sw16 }}<br>
    <input type="text" name="wrd17" size="20" /> {{ sw17 }}<br>
    <input type="text" name="wrd18" size="20" /> {{ sw18 }}<br>
    <input type="text" name="wrd19" size="20" /> {{ sw19 }}<br>
    <input type="submit" value="Отправить">

</form>
<h2 style="color:#381c76">Благодарим за Ваши ответы!</h2>
</body>
</html>